.wrapper1 {
    display: grid;  /* all DIRECT children become grid items */
                    /* single column grid created */
    border: 2px solid #f76707;
    border-radius: 5px;
    background-color: #fff4e6;
}

.wrapper2 {
    display: grid;
    grid-template-columns: 200px 200px 200px;  /* define number of columns in grid in pixels*/
                                               /* no rows specified in css so implicit rows  created in grid */
    grid-auto-rows: minmax(100px, auto);       /* implicit rows min of 100px high + max of auto depending on content */
    border: 2px solid #f76707;
    border-radius: 5px;
    background-color: #fff4e6;
}

.wrapper3 {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;  /* define number of columns in grid */
    border: 2px solid #f76707;
    border-radius: 5px;
    background-color: #fff4e6;
}

.wrapper > div, .wrapper2 > div, .wrapper3 > div {
  border: 2px solid #ffa94d;
  border-radius: 5px;
  background-color: #ffd8a8;
  padding: 1em;
  color: #d9480f;
}

