<p>desktop-main works!</p>


  <!-- Full width top section -->
<div class="top-container">
  <table class="data-table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Contact</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of payload" (click)="selectRow(item)">
        <td>{{item.summariseduser.id}}</td>
        <td>{{item.summariseduser.fullName}}</td>
        <td>{{item.summariseduser.contact}}</td>
      </tr>
    </tbody>
  </table>
</div>


