html, body {
  height: 100vh;
  box-sizing: border-box;
  background-color: yellow;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  margin: 0;
}

.x {
    height: 20%;
    /*background-color: #333333;*/
    /*background-color: #595959;*/
    background-color: #f9f9f9;
    color: #5a5a5a;
    box-sizing: border-box;
    overflow-y: scroll;
}