body {background-color: red;}

p#p1 {background-color: yellow;
     height: 100px;  /* % height does not seem to work? */
     width: 50%;
     /*padding: 10px;*/  /* with padding - boxes are wider than 100% so box 2 drops below */
     float: left;
}  

p#p2 {background-color: pink;
     height: 50px;  
     width: 50%;
     /*padding: 10px;*/  /* with padding - boxes are wider than 100% so box 2 drops below */
     float: left;
}
