<!--
ViewRef represents Angular View
It is the smallest grouping of elements which are created and destroyed together
Angular philosophy encourages developers to see the UI as a composition of Views, not as a tree of standalone HTML tags.
- Embedded Views which are linked to a Template
  - can be created with TemplateRef.createEmbeddedView
- Host Views which are linked to a Component
  - created when component is dynamically instantiated
  - ComponentRef.hostView: ViewRef
                .instance: this instance of the component
-->
<p>c3 works</p>
<app-c3sub #subcomp></app-c3sub>
