<!DOCTYPE html>
<html lang="en"> <!-- help for scren readers -->

    <head>
        <meta charset="UTF8">
        <meta http-equiv="refresh" content="30"> <!--Creates http header-->
        
        <meta name="description" content="meta examples">
        <meta name="keywords" content="meta">
        <meta name="author" content="Steve Lambert">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>html template</title>
        <script src="*.js"></script>
        <link rel="stylesheet" href="*.css" />
    </head>

    <body>
    </body>
</html>



