<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8"/>
  <script src="jquery.js"></script>
  <script src="underscore.js"></script>
  <script src="backbone.js"></script>

<script>
$(document).ready(function(){

// Define a Todo Model
var Todo = Backbone.Model.extend({
  // Default todo attribute values
  defaults: {
    title: '',
    completed: false
  }
});

// Instantiate the Todo Model with a title, allowing completed attribute
// to default to false
var todo1 = new Todo({
  title: 'Check attributes property of the logged models in the console.'
});

// Define a Todo View
var TodoView = Backbone.View.extend({

  tagName: 'li',

  // Cache the template function for a single item. NO IDEA WHAT THIS DOES
  todoTpl: _.template( $('#item-template').html() ),
  
  // establish event handlers. fulfills the role of the Controller configuration
  events: {
    'dblclick label': 'edit',
    'keypress .edit': 'updateOnEnter',
    'blur .edit':   'close'
  },
  
  // Re-render the titles of the todo item.
  render: function() {
    this.$el.html( this.todoTpl( this.model.toJSON() ) );
    this.input = this.$('.edit');
    return this;
  },

  edit: function() {
    // executed when todo label is double clicked
  },

  close: function() {
    // executed when todo loses focus
  },

  updateOnEnter: function( e ) {
    // executed on each keypress when in todo edit mode, 
    // but we'll wait for enter to get in action
  }
});

// create a view for a todo
var todoView = new TodoView({model: todo1});
  
});
</script>

</head>

<body>

  <div id="todo"></div>
  
  <script type="text/template" id="item-template">
    <div>
      <input id="todo_complete" type="checkbox" <%= completed ? 'checked="checked"' : '' %>>
      <%- title %>
    </div>
  </script>
  
</body>
</html>