<p>my-table2 works!</p>

<!-- Table with column headers only - no data-->

<!--
No data so no need to specify dataSource
ng-container needed for each column definition. Here we loop over a data structure defining the columns
columnDefs is just an array of objects
columnsToDisplay defines a subset of the columns defined above
-->

<!-- displayedColumns Names should Match with matColumnDef Names under ngContainer -->
<!-- Pass in ALL CONFIG when ready -->
<table mat-table>

  <ng-container [matColumnDef]="column.field" *ngFor="let column of columnDefs | async">
    <th mat-header-cell *matHeaderCellDef>{{column.label}}</th>>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay | async"></tr>
</table>



<!-- Table with data
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container [matColumnDef]="column.field" *ngFor="let column of columnDefs">
    <td mat-cell *matCellDef="let element">{{element[column.field]}}</td>
  </ng-container>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
</table>-->

